<div class="container mx-auto">
    <div class="pb-1 text-center">
        <!-- footer to access twitterr -->
        <div class="flex justify-between py-2">
            <div class="flex justify-center flex-col mx-10">
                <h2 class="text-white text-2xl font-bold ">Não perca o quê está acontendo</h2>
                <p class="text-white text-lg font-bold">As pessoas que usam o Twitter são as primeiras a saber.</p>
            </div>
            <div class="flex justify-center mx-10">
                <button type="button" class="w-32 focus:outline-none border-2 border-white py-2 px-5 rounded-3xl bg-blue-500 hover:bg-blue-600 font-bold text-white shadow text-center text-xl mx-2"><strong>Entrar</strong></button>
                <button type="button" class="w-48 focus:outline-none border border-transparent py-2 px-5 rounded-3xl bg-white hover:bg-gray-200 font-bold shadow text-center text-xl"><strong>Inscrever-se</strong></button>
            </div>
        </div>
    </div>
</div>
