<!-- profile information -->
<nav class="w-[650px] h-[60px] bg-white rounded-lg mb-3">
    <table class="w-[650px]">
        <tr>
          <th class="text-gray-500">Tweets</th>
          <th class="text-gray-500">Fotos/Videos</th>
          <th class="text-gray-500">Seguindo</th>
          <th class="text-gray-500">Seguidores</th>
          <th class="text-gray-500">Favoritos</th>
          <th class="text-gray-500">Listas</th>
        </tr>
        <tr>
          <td class="cursor-pointer text-xl text-center text-blue-800 hover:text-black hover:border-b-4 hover:border-black"><strong>52</strong></td>
          <td class="cursor-pointer text-xl text-center text-blue-800 hover:text-black hover:border-b-4 hover:border-black"><strong>210</strong></td>
          <td class="cursor-pointer text-xl text-center text-blue-800 hover:text-black hover:border-b-4 hover:border-black"><strong>77</strong></td>
          <td class="cursor-pointer text-xl text-center text-blue-800 hover:text-black hover:border-b-4 hover:border-black"><strong>91</strong></td>
          <td class="cursor-pointer text-xl text-center text-blue-800 hover:text-black hover:border-b-4 hover:border-black"><strong>8</strong></td>
          <td class="cursor-pointer text-xl text-center text-blue-800 hover:text-black hover:border-b-4 hover:border-black"><strong>2</strong></td>
        </tr>
      </table>
</nav>