<div class="bg-gray-200 px-3 py-3">
    <h1 class="font-bold text-xl">Werbsson Saymon</h1>
    <h2>@WerbssonSaymon</h2>
    <p class="mt-2 text-justify">21 anos, estudando 
    analise<br> e desenvolvimento de <br>
    sistemas e fazendo curso<br>
    fornt-end</p>
    <h3 class="font-bold text-sm mt-1 ">Maranhão</h3>
    <h3 class="font-bold text-sm mt-1 text-blue-700"><a href="#">saymoncontato20@gmail.com</a></h3>
    <h3 class="font-bold text-sm mt-1 ">Registrou-se em: 
        <time datetime="2023-04-16">16/04/2023</time>
    </h3>
</div>
